body {
  background-color: #1b2738;
  justify-content: center;
  display: flex;
  align-items: center;
}

nav {
  display: block;
  text-transform: uppercase;
  background-color: #e3e5e8;
  border-radius: 1.5em;
  width: 85%;
  margin: 10px auto;
  margin-bottom: 4px;
  padding: 10px 50px;

  align-items: center;
  justify-content: center;
}
a {
  width: 25%;
  display: inline;
  margin: 10px 0.8em;
  align-items: center;
}

#iconDiv {
  background-color: #1b2738;
  color: #f4eaea;
  width: 20%;
  height: 70px;
  padding: 10px;
  display: inline-block;

  border-radius: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  text-decoration: none;
}

#iconDiv:hover {
  background-color: #7b362af3;
  transform: scale(1.01);
  transition: 0.25s;
}

.Top1 {
  display: block;
  border-radius: 15px;
  padding-bottom: 25px;

  padding-left: 50px;
  padding-right: 50px;

  background-color: #f4eaea;
  margin: 10px auto;
  width: 85%;
}

#Welcome{
  font-weight: 600;
}

h1 {
  display: inline-block;
  color: #1b2738;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: Lighter;
  border-bottom: #1b2738 solid 1px;
  width: 80%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  color: #1b2738;
}

.pageContainer {
  border-radius: 15px;
  width: 80%;
  display: inline-block;
  padding: 3px;
  background-color: #7b362af3;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 20px;
}

#contentLinks {
  text-decoration: none;
  color: #1b2738;
  font-size: 22px;
}

#bio {
  display: inline-block;
  width: 50%;
}
#pic {
  margin: 0px 50px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

#selfPortrait {
  top: 10px;
  width: 360px;
  border-radius: 5em;
  display: inline-block;
  object-fit: cover;
}
#p1 {
  /* width: 50%; */
  margin-right: 50px;
  display: inline-block;
  border-left: rgba(128, 128, 128, 0.406) 1px solid;
  padding-left: 20px;
}
#p2 {
  display: block;
  margin-left: 50px;
  border-left: rgba(128, 128, 128, 0.406) 1px solid;
  padding-left: 20px;
}

.icons1 {
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 100;
  color: aliceblue;
  filter: invert() sepia(80%) hue-rotate(180deg) saturate(4);
  position: relative;
  overflow: hidden;
}

h2 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: #1b2738;
  white-space:nowrap;
  margin:0px;
  text-decoration-thickness: 1px;
}

footer {
  display: block;
  width: 85%;
  height: auto;
  margin: 0px auto;
  border-top: #1b27386b solid 1px;
  border-bottom: #1b27386b solid 1px;
  align-items: center;
}
